:root {
  --color-accent: oklch(0.95 0.0134 228.4 / 50%);
  --theme-color: #ed713a;
}

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Change this to allow events to pass through */
}

circle {
  pointer-events: auto;
}

circle:hover {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(1.2);
  fill: var(--theme-color);
}

.time-filter-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  margin: 1em;
}

.time-filter-header label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-filter-header time,
.time-filter-header em {
  display: block;
}

.time-filter-header em {
  color: #888;
  font-style: italic;
}

/* Slider styles */
input[type=range]{
  -webkit-appearance: none;
  width: 500px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--theme-color);
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}